#IconButton {
  height: 35px;
  width: 35px;
  background: #444444;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 50%;
  z-index: 1;
  transition: 400ms;

  &:focus, &:active {
    background: #888888;
    transform: scale(0.8);
  }
}