#ImageViewer {
  header {
    position: absolute;
    inset: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  img {
    max-height: 90vh;
    max-width: 90vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}