#FloatingActionButton {
  height: 50px;
  width: 50px;
  z-index: 99;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 400ms;
  bottom: 0;
  right: 0;

  i {
    color: #444444;
    font-size: 1.2rem;
  }

  img {
    height: 2rem;
  }

  &:focus, &:active {
    transform: scale(0.9);
    opacity: 0.7;
  }
}