#Home {
  nav {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: #333333;
    max-width: 100%;
    padding: 1rem 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    font-size: 1.5rem;
    margin-top: 50vw;
    border-radius: 0.5rem;
    transition: 400ms;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      height: 2rem;
    }

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation: hobby-animation 1s #{600 + $i * 100}ms forwards;
      }
    }

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
      text-decoration: underline;
      color: steelblue;
    }

    @keyframes hobby-animation {
      from {
        margin-top: 50vw;
      }
      to {
        margin-top: 0;
      }
    }
  }
}